* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  font-size: 2rem;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e74c3c,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e74c3c,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button,
button:active,
button:focus {
  border: none;
  outline: none;
  font-size: inherit;
}

.container {
  position: relative;
  border: 2px solid rgb(9, 20, 31);
  border-radius: 10px;
  padding-left: 10px;
}

input {
  display: inline;
  font-size: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.eye {
  display: inline-block;
  background-color: transparent;
  padding: 5px;
  width: 50px;
  cursor: pointer;
}

.action {
  display: inline-block;
  background-color: rgb(9, 20, 31);
  padding: 20px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.action::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  border-radius: 5px 0 0 5px;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transition: transform 0.75s;
}
.hide {
  display: none;
}
